# This is necessary, because housing_demo needs to use this directory as docker context

# since it has `mlopskit` as relative python dependency

**/.venv
**/.devcontainer
**/.mypy_cache
**/.pytest_cache
**/.vscode
**/__pycache__

# Don't leak secrets in the Docker Images, use Flyte Secrets instead
**/.env

# Don't upload data as part of the docker image
examples/housing_demo/data
