default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: "mkdocs.yml"
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      # See https://github.com/pre-commit/mirrors-mypy/blob/main/.pre-commit-hooks.yaml
      - id: mypy
        types_or: [python, pyi]
        args: [--ignore-missing-imports, --scripts-are-modules]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
#   Disabled due to incompatibility with our exception translator facility.
#   See https://github.com/jsh9/pydoclint/issues/174
#   TODO(nicholasjng): Re-enable once fixed or an ignore facility is available.
#  - repo: https://github.com/jsh9/pydoclint
#    rev: 0.5.9
#    hooks:
#      - id: pydoclint
#        args: [--check-class-attributes=False]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.17
    hooks:
      - id: pip-compile
        name: pip-compile requirements-dev.txt
        args:
          - --no-annotate
          - --no-strip-extras
          - --python-version=3.10
          - --extra=dev
          - --output-file=requirements-dev.txt
          - pyproject.toml
        files: ^(pyproject\.toml|requirements-dev\.txt)$
      - id: pip-compile
        name: pip-compile requirements-docs.txt
        args:
          - --no-annotate
          - --no-strip-extras
          - --python-version=3.10
          - --extra=docs
          - --output-file=requirements-docs.txt
          - pyproject.toml
        files: ^(pyproject\.toml|requirements-docs\.txt)$
