[build-system]
requires = ["setuptools>=45", "setuptools-scm[toml]>=7.1", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "lakefs-spec"
description = "An fsspec implementation for lakeFS."
keywords = ["lakeFS", "fsspec"]
requires-python = ">=3.9"
readme = "README.md"
license = { text = "Apache-2.0" }
authors = [{ name = "appliedAI Initiative", email = "info+oss@appliedai.de" }]
maintainers = [
    { name = "Nicholas Junge", email = "n.junge@appliedai.de" },
    { name = "Max Mynter", email = "m.mynter@appliedai.de" },
    { name = "Adrian Rumpold", email = "a.rumpold@appliedai.de" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Version Control",
    "Topic :: System :: Filesystems",
    "Topic :: Utilities",
    "Typing :: Typed",
]

dependencies = ["fsspec>=2023.6.0", "lakefs-sdk>=1.0.0"]

dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/appliedai-initiative/lakefs-spec"
Repository = "https://github.com/appliedai-initiative/lakefs-spec.git"
Issues = "https://github.com/appliedai-initiative/lakefs-spec/issues"

[project.optional-dependencies]
dev = [
    "pre-commit>=3.3.3",
    "pytest>=7.4.0",
    "build>=0.10.0",
    "pytest-cov>=4.1.0",
    "pyyaml>=6.0.1",
    "setuptools-scm[toml]>=7.1",
]
docs = [
    "mkdocs",
    "mkdocs-gen-files",
    "mkdocs-literate-nav",
    "mkdocs-section-index",
    "mkdocs-material",
    "mkdocstrings[python]",
    "mkdocs-git-revision-date-localized-plugin",
    "mkdocs-include-dir-to-nav",
    "mknotebooks",
    "jupyter",
    "black",                                     # formatting of signatures in docs
    "mike",
    "appnope",                                   # required only on Darwin, but need to include in lockfile
]

[tool.setuptools]
package-dir = { "" = "src" }
zip-safe = false

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
lakefs_spec = ["py.typed"]

# Automatically determine version number from Git tags
[tool.setuptools_scm]

[tool.black]
# Source https://github.com/psf/black#configuration-format
include = "\\.pyi?$"
line-length = 100
target-version = ["py311"]

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
pretty = true
python_version = "3.11"
strict_optional = false
warn_unreachable = true

[[tool.mypy.overrides]]
module = ["yaml"]
ignore_missing_imports = true

[tool.ruff]
# explicitly set src folder for isort to understand first-party imports correctly.
src = ["src"]
line-length = 100
# Enable pycodestyle errors & warnings (`E`, `W`), Pyflakes (`F`), and isort (`I`) codes by default.
select = ["E", "F", "I", "W"]
ignore = [
    # whitespace before colon (:), rely on black for formatting (in particular, allow spaces before ":" in list/array slices)
    "E203",
    # Multiple spaces before operator
    "E221",
    # line too long, rely on black for reformatting of these, since sometimes URLs or comments can be longer
    "E501",
    # Allow capitalized variable names, necessary for e.g., `X_train = get_train_data()`
    "F841",
]

# Ignore `F401` (unused imports) in all `__init__.py` files
[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[tool.bandit]
exclude_dirs = ["tests"]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "WARNING"
