/*Remove leading `!` from code cells, which use the cell magic for shell commands*/
code>.err:first-of-type {
    display: none;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.landing-page-icon {
    color: hsl(198.5, 83.5%, 19%);
}
